<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Summary</title>
</head>
<body>
<a href="/add">Add Resume</a><br/>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>LinkedIn</th>
        <th>GitHub</th>
        <th>Twitter</th>


        <th>Degree</th>
        <th>School</th>
        <th>Year</th>
        <!--Optional Education-->
        <th>Degree - 2</th>
        <th>School - 2</th>
        <th>Year - 2</th>
        <th>Degree - 3</th>
        <th>School - 3</th>
        <th>Year - 3</th>


        <!--Experience-->
        <th>Position</th>
        <th>Company</th>
        <th>Location</th>
        <th>Duration</th>
        <th>Description</th>


        <!--Optional Experience-->
        <th>Position - 2</th>
        <th>Company - 2</th>
        <th>Location - 2</th>
        <th>Duration - 2</th>
        <th>Description - 2</th>
        <th>Position - 3</th>
        <th>Company - 3</th>
        <th>Location - 3</th>
        <th>Duration - 3</th>
        <th>Description - 3</th>



        <!--Skills-->
        <th>Skill</th>
        <th>Level</th>
        <!--Optional Skills-->
        <th>Skill - 2</th>
        <th>Level - 2</th>
        <th>Skill - 3</th>
        <th>Level - 3</th>

    </tr>
</table>



    </tr>
    <tr th:each="resume: ${resumes}">
        <!--General Education-->
        <td th:text="${resume.name}"></td>
        <td th:text="${resume.email}"></td>
        <td th:text="${resume.linkedin}"></td>
        <td th:text="${resume.github}"></td>
        <td th:text="${resume.twitter}"></td>
        <!-- Education-->
        <td th:text="${resume.degree}"></td>
        <td th:text="${resume.school}"></td>
        <td th:text="${resume.year}"></td>
        <!--Optional Education-->
        <td th:text="${resume.degree2}"></td>
        <td th:text="${resume.school2}"></td>
        <td th:text="${resume.year2}"></td>
        <td th:text="${resume.degree3}"></td>
        <td th:text="${resume.school3}"></td>
        <td th:text="${resume.year3}"></td>
        <!--Experience-->
        <td th:text="${resume.position}"></td>
        <td th:text="${resume.company}"></td>
        <td th:text="${resume.location}"></td>
        <td th:text="${resume.duration}"></td>
        <td th:text="${resume.description}"></td>
        <!--Optional Experience-->
        <td th:text="${resume.position2}"></td>
        <td th:text="${resume.company2}"></td>
        <td th:text="${resume.location2}"></td>
        <td th:text="${resume.duration2}"></td>
        <td th:text="${resume.description2}"></td>
        <td th:text="${resume.position3}"></td>
        <td th:text="${resume.company3}"></td>
        <td th:text="${resume.location3}"></td>
        <td th:text="${resume.duration3}"></td>
        <td th:text="${resume.description3}"></td>
        <!--Skills-->
        <td th:text="${resume.skill}"></td>
        <td th:text="${resume.level}"></td>
        <!--Optional Skills-->
        <td th:text="${resume.skill2}"></td>
        <td th:text="${resume.level2}"></td>
        <td th:text="${resume.skill3}"></td>
        <td th:text="${resume.level3}"></td>


    </tr>
</table>

<table>
    <tr>
        <td>
            <a th:href="@{/update/{id}(id=${resume.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${resume.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${resume.id})}">Delete</a>
        </td>
</tr>
</table>

</body>
</html>