<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <a href="/">Show All Resumes</a><br/>


    <h2>General</h2>
    Name: <span th:text="${resume.name}"></span><br/>
    Email: <span th:text="${resume.email}"></span><br/>
    LinkedIn: <span th:text="${resume.linkedin}"></span><br/>
    GitHub: <span th:text="${resume.github}"></span><br/>
    Twitter: <span th:text="${resume.twitter}"></span><br/>
    <br/>

    <h2>Education</h2>
    Degree: <span th:text="${resume.degree}"></span><br/>
    School: <span th:text="${resume.school}"></span><br/>
    Year: <span th:text="${resume.year}"></span><br/>
    <br/>

    <h2>Experience</h2>
    Position: <span th:text="${resume.position}"></span><br/>
    Company: <span th:text="${resume.company}"></span><br/>
    Location: <span th:text="${resume.location}"></span><br/>
    Duration: <span th:text="${resume.duration}"></span><br/>
    Description: <span th:text="${resume.description}"></span><br/>
    <br/>

    <h2>Skills</h2>
    Skill: <span th:text="${resume.skill}"></span><br/>
    Level: <span th:text="${resume.level}"></span><br/>
    <br/>

    <a th:href="@{/delete/{id}(id=${resume.id})}">Delete this course</a>
</body>
</html>