<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <a href="/">Show All Resumes</a><br/>


    <h2>General</h2>
    <span th:text="${resume.name}"></span><br/>
    <span th:text="${resume.email}"></span><br/>
    <span th:text="${resume.linkedin}"></span><br/>
    <span th:text="${resume.github}"></span><br/>
    <span th:text="${resume.twitter}"></span><br/>
    <br/>

    <h2>Education</h2>
     <span th:text="${resume.degree}"></span><br/>
    <span th:text="${resume.school}"></span><br/>
    <span th:text="${resume.year}"></span><br/>
    <br/>
    <span th:text="${resume.degree2}" ></span><br/>
    <span th:text="${resume.school2}"></span><br/>
    <span th:text="${resume.year2}"></span><br/>
    <br/>
    <span th:text="${resume.degree3}"></span><br/>
    <span th:text="${resume.school3}"></span><br/>
    <span th:text="${resume.year3}"></span><br/>
    <br/>



    <h2>Experience</h2>
    <span th:text="${resume.position}"></span><br/>
    <span th:text="${resume.company}"></span><br/>
    <span th:text="${resume.location}"></span><br/>
    <span th:text="${resume.duration}"></span><br/>
    <span th:text="${resume.description}"></span><br/>
    <br/>
    <span th:text="${resume.position2}"></span><br/>
    <span th:text="${resume.company2}"></span><br/>
    <span th:text="${resume.location2}"></span><br/>
    <span th:text="${resume.duration2}"></span><br/>
    <span th:text="${resume.description2}"></span><br/>
    <br/>
    <span th:text="${resume.position3}"></span><br/>
    <span th:text="${resume.company3}"></span><br/>
    <span th:text="${resume.location3}"></span><br/>
    <span th:text="${resume.duration3}"></span><br/>
    <span th:text="${resume.description3}"></span><br/>
    <br/>






    <h2>Skills</h2>
    <span th:text="${resume.skill}"></span><br/>
    <span th:text="${resume.level}"></span><br/>
    <br/>
    <span th:text="${resume.skill2}"></span><br/>
    <span th:text="${resume.level2}"></span><br/>
    <br/>
    <span th:text="${resume.skill3}"></span><br/>
    <span th:text="${resume.level3}"></span><br/>
    <br/>

    <a th:href="@{/delete/{id}(id=${resume.id})}">Delete this course</a>
</body>
</html>